// colors
$main: #b7974f;
$secondary: #806437;
$text-dark: #333;
$text-light: #686a6f;
$white: #fff;
$error: #FF4136 ;

// gradient

$main-gradient: linear-gradient(
  180deg,
  rgba(0, 0, 0, 0.7) 0%,
  rgba(0, 0, 0, 0.4) 100%
);

//shadows

$big-shadow:rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
$small-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

//animations

@keyframes arrowAnimation {
  0% {
    transform: translateY(-2rem);
  }
  100% {
    transform: translateY(3.3rem);
  }
}
